pre {
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 10px 20px;
    margin: 20px;
}

.json-key {
    color: brown;
}

.json-value {
    color: navy;
}

.json-string {
    color: olive;
}


/* Start of Column CSS */

#container2 {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
    background: #bdc3c7;
    /* column 2 background colour */
}

#container1 {
    float: left;
    width: 100%;
    position: relative;
    right: 50%;
    background: #ecf0f1;
    /* column 1 background colour */
}

#col1 {
    float: left;
    width: 50%;
    position: relative;
    left: 50%;
    overflow: hidden;
    margin: 0 auto;
}

#col2 {
    float: left;
    width: 50%;
    position: relative;
    left: 50%;
    overflow: hidden;
}

body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    color: #2c3e50
}

.queryForm {
    margin: 10px auto;
    width: 400px;
    text-align: center;
}

.queryForm > input,
.queryForm > textarea {
    display: block;
    width: 100%;
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid #888;
    font-size: 14px;
}

.queryForm > textarea {
    height: 300px;
}

select {
    width: 100%;
}